{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'blog:post_list' %}">
                <i class="bi bi-pencil-square me-2"></i>Спортивный блог
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:post_list' %}">
                            <i class="bi bi-house-door me-1"></i>Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:post_create' %}">
                            <i class="bi bi-envelope me-1"></i>Новый пост
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>