SECRET_KEY=

DEBUG=

POSTGRES_ENGINE=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

CSU_EMAIL=
CSU_PASSWORD=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CACHE_ENABLED=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=