{% load static %}
<div class="card-footer text-bg-dark p-3 mt-auto">
    <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="rounded-circle z-depth-0 me-2" alt="avatar"
                     height="35" width="35" style="object-fit: cover;">
            {% else %}
                <img src="{% static 'images/face.png' %}" class="rounded-circle z-depth-0 me-2" alt="avatar"
                     height="35" width="35">
            {% endif %}
        <div class="dropup">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.email }}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'users:profile_user' %}">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
        {% else %}
        <img src="{% static 'images/face.png' %}" class="rounded-circle z-depth-0 me-2" alt="avatar image"
             height="35" width="35">
        <div>
                <a class="btn btn-primary" href="{% url 'users:login' %}">Вход</a>
                <a class="btn btn-success" href="{% url 'users:register' %}">Регистрация</a>
        </div>
        {% endif %}
    </div>
</div>