{% load my_tags %}
<form method="post" class="border p-4 rounded">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nameInput" class="form-label">Имя</label>
        <input type="text" class="form-control" id="nameInput" name="name">
    </div>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Почта</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="email" class="form-control" id="emailInput" name="email">
        </div>
    </div>
    <div class="mb-3">
        <label for="messageTextarea" class="form-label">Сообщение</label>
        <textarea class="form-control" id="messageTextarea" rows="5" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>