{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Product add{% endblock %}


{% block content %}
<div class="col-9 bg-light p-4">
    <div class="container">
        <header class="bg-light text-black text-center py-5">
            <h1 class="display-4">Добавить новый продукт</h1>
        </header>

        <div class="row justify-content-center">
            <div class="col-8">
                <form method="post" enctype="multipart/form-data" class="border p-4 rounded">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

                        {{ field }}
                        {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}


                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Добавить продукт</button>
                        <a href="{% url 'catalog:products_list' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}